{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "**/*.svg",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ],
  "bracketSameLine": true,
  "tailwindFunctions": ["cn", "cva", "cx", "clsx"]
}
